.complexity-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 330px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  
  .complexity-bar-container {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    width: 100%;
  }
  
  .complexity-label {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    align-self: flex-start;
    border-radius: 8px;
  }
  
  .complexity-bar {
    background-color: red;
    height: 30px;
    width: calc((var(--complexity-width, 25%) + 10px));
    display: flex;
    align-items: center;
    padding: 0 10px;
    align-self: flex-start;
    border-radius: 8px;
  }
  
  .complexity-text {
    font-size: 14px;
    color: white;
    text-align: left;
  }
  
  .complexity-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .complexity-badge-container {
    display: flex;
    justify-content: flex-end; /* Align to the right edge */
    margin-top: 10px; /* Add margin from the complexity bar */
  }
  
  .up {
    background-color: red;
  }
  
  .down {
    background-color: green;
  }
  
  .equal {
    background-color: yellow;
    color: black;
  
  }

  .badge-text {
    font-size: 10px; /* Adjust the font size */
    margin-bottom: 3px; /* Add space between text and arrow */
  }