.spirit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* Use auto-fit */

    gap: 20px;
  }
  
  .spirit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    min-width: 360px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db; /* Blue background color */
    color: white; /* White text color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
  }

  .gain-button {
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }

  .cards-options {
    display: flex;
    padding: auto;
    position: relative;
  }
  .cards-option {
    position: relative;
    padding-left: 15px;
  }

  