.settings-toggle {
    position: absolute;
    top: 20px;
    right: 330px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
  .settings-toggle.active {
    right: 30px;
  }
  
  /* Styles for the settings sidebar */
  .settings-sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Start hidden off-screen */
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 900;
    padding-top: 40px; /* Add top padding */

  }
  
  .settings-sidebar.active {
    right: 0; /* Show sidebar when the .active class is applied */
  }
  
  /* Styles for the filter options */
  .filter-options {
    padding: 20px;
    margin-left: 15px;
  }

  .settings-section {
    margin-bottom: 1rem;
  }
  
  .section-header {
    cursor: pointer;
    padding: 0.5rem;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
  }
  
  .section-content {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
  
  .filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Styles for the toggle containers */
  .toggle-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
  }
  
  /* Styles for the toggle switches */
  .toggle-container input {
    display: none;
  }

  .toggle-label {
    margin-left: 8px; /* Add margin between the toggle and the label */
  }
  
  .toggle-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-container input:checked + .toggle-switch {
    background-color: #4caf50;
  }
  
  .toggle-switch::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
  }
  
  .toggle-container input:checked + .toggle-switch::before {
    left: calc(100% - 17px);
  }

  .section-indicator {
    margin-left: auto; /* Right-align the indicator */
    margin-right: 0.5rem;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg); /* Initial state is not rotated */
    transform-origin: center;
  }
  
  .collapsed .section-indicator {
    transform: rotate(-90deg); /* Apply the rotation when collapsed */
  }