.spirit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.spirit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  height: 40px;
  gap: 10px;
}

.spirit-name {
  flex: 1;
  width: 100%;
  font-weight: bolder;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expansion-icon {
  font-size: 1.5rem;
}

.spirit-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  max-height: 300px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.spirit-image img {
  max-width: 100%;
  height: auto;
}

.complexity-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 330px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.complexity-bar-container {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  width: 100%;
}

.complexity-label {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  align-self: flex-start;
  border-radius: 8px;
}

.complexity-bar {
  background-color: red;
  height: 30px;
  width: calc((var(--complexity-width, 25%) + 10px));
  display: flex;
  align-items: center;
  padding: 0 10px;
  align-self: flex-start;
  border-radius: 8px;
}

.complexity-text {
  font-size: 14px;
  color: white;
  text-align: left;
}

.complexity-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.powers-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.power-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  height: 100%;
  padding-left: 10px;
}

.power-bar-label {
  font-size: 12px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  z-index: 10;
}

.power-bar {
  width: 35px;
  background-color: teal;
}

.power-bar.offense {
  background-color: teal;
}

.power-bar.control {
  background-color: green;
}

.power-bar.fear {
  background-color: purple;
}

.power-bar.defense {
  background-color: orange;
}

.power-bar.utility {
  background-color: #8B0000;
}

.power-bar.negative {
  height: 15px;
  position: absolute;
  z-index: 9;
}

.complexity-badge-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.up {
  background-color: red;
}

.down {
  background-color: green;
}

.equal {
  background-color: yellow;
  color: black;
}