
  
<div class="settings-sidebar" [class.active]="settingsActive">
  <button class="settings-toggle"  mat-mini-fab color="primary" (click)="toggleSettings()" [class.active]="settingsActive" matTooltip="filters and settings" matTooltipPosition="before">
    <i class="fas fa-filter"></i> 
  </button>
 
  <div class="filter-option" style="margin-left: 20px;" matTooltip="Ensure at least one Spirit or Aspect is from Horizons or Nature Incarnate" matTooltipPosition="below">
    <app-settings-toggle [value]="settings.highlightNewContent" (onToggle)="onHighlightChange($event)" name="Highlight new Content" [single]="true"></app-settings-toggle>
  </div>
  <div class="filter-option" style="margin-left: 20px;">
    <p class="count-label">Number of Spirits gained</p>
    <mat-slider min="1" max="10" step="1" showTickMarks="true" discrete>
      <input matSliderThumb [(ngModel)]="settings.optionCount" (valueChange)="onCountChange()">
    </mat-slider>
    <div class="slider-value">{{ settings.optionCount}}</div> 
  </div>
  <mat-accordion class="example-headers-align" multi>
    <app-settings-section name= "Expansions" (refresh)="reset('expansions')" tooltip="Filter Spirits and Aspects based on owned Content">
      <div class="filter-option" *ngFor="let expansion of expansions">
        <app-settings-toggle [value]="settings.selectedExpansions[expansion]" (onToggle)="onExpansionChange(expansion, $event)" [name]="messages.expansionNames[expansion]"></app-settings-toggle>
      </div>
    </app-settings-section>
    <app-settings-section name="Complexities" (refresh)="reset('complexities')" tooltip="Filter Spirits based on their Complexity">
      <div class="filter-option" *ngFor="let complexity of complexities">
        <app-settings-toggle [value]="settings.selectedComplexities[complexity]" (onToggle)="onComplexityChange(complexity, $event)" [name]="complexity"></app-settings-toggle>
      </div> 
    </app-settings-section>
    <app-settings-section name="Powers" (refresh)="reset('powers')" tooltip="Filter Spirits based on their power profile">
      <div class="filter-option" *ngFor="let power of powers">
        <app-power-bounds 
          [label]="power.name" 
          [minValue]="power.min" 
          [maxValue]="power.max" 
          [currentMin]="power.currentMin" 
          [currentMax]="power.currentMax" 
          (minChange)=" onPowerMinValueChange(power.name, $event)"
          (maxChange)=" onPowerMaxValueChange(power.name, $event)"
        >
        </app-power-bounds>
      </div>
    </app-settings-section>
    <app-settings-section name="Allowed Tokens" (refresh)="reset('allowedTokens')" tooltip="Filter Spirits based on their used Tokens">
      <div class="filter-option" *ngFor="let token of tokens">
        <app-settings-toggle [value]="settings.allowedTokens[token]" (onToggle)="onAllowedTokenChange(token, $event)" ><app-token class="token" [token]="token"></app-token></app-settings-toggle>
      </div> 
      <div class="filter-option">
        <app-settings-toggle   [value]="settings.allowIncarna" (onToggle)="onAllowIncarnaChange($event)" ><app-token class="token" [token]="incarna"></app-token></app-settings-toggle>
      </div> 
    </app-settings-section>
    <app-settings-section name="Required Tokens" (refresh)="reset('requiredTokens')" tooltip="Limit Selection to Spirits that use any (or all) of the selected Tokens">
      <mat-radio-group class="radio-group filter-option" color="primary" [(ngModel)]="settings.reqiredTokensAny" (change)="onRequireTokenAnyChange($event.value)">
        <mat-radio-button class="radio-button" [value]="true"><b>At least one</b></mat-radio-button>
        <mat-radio-button class="radio-button" [value]="false"><b>All</b></mat-radio-button>
      </mat-radio-group>
      <div class="filter-option" *ngFor="let token of tokens">
        <app-settings-toggle   [value]="settings.requiredTokens[token]" (onToggle)="onRequiredTokenChange(token, $event)" ><app-token class="token" [token]="token"></app-token></app-settings-toggle>
      </div> 
      <div class="filter-option">
        <app-settings-toggle   [value]="settings.requireIncarna" (onToggle)="onRequireIncarnaChange($event)" ><app-token class="token" [token]="incarna"></app-token></app-settings-toggle>
      </div> 
    </app-settings-section>
    <app-settings-section name= "Highlighted Complexities" (refresh)="reset('highlightComplexities')" tooltip="Ensure at least one Spirit is of each selected Complexity" >
      <div class="filter-option" *ngFor="let complexity of complexities">
        <app-settings-toggle [value]="settings.highlightComplexities[complexity]" (onToggle)="onHighlightComplexityChange(complexity, $event)" [name]="complexity"></app-settings-toggle>
      </div>
    </app-settings-section>
  </mat-accordion>
  <button class="settings-full-refresh"  mat-fab extended color="primary" (click)="reset('all')" [class.active]="settingsActive" >
    <i class="fas fa-refresh"></i> Reset all
  </button>
</div>

