.spirit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 600px; /* Set a max width for the card */
  width: 100%;
  min-width: 350px;
  margin: 0 auto; /* Center the card horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Add rounded corners */

}

.spirit-header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap; /* Allow header content to wrap on smaller screens */
  position: relative; /* Add this line to enable positioning of the icon */
  height: 40px;
  gap: 10px;
}

.spirit-name {
  flex: 1;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  overflow: hidden;
}

.expansion-icon {
  max-height: 30px;
  min-width: 30px;;
  font-size: 1.5rem;
}

.spirit-image {
  /* Add these lines for image scaling */
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  max-height: 300px; /* Set a maximum height for the image */
  aspect-ratio: 6 / 4;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Add rounded corners */
}
.complexity {
  position: absolute;
    top: 10px;
    right: 5px;
}

.powers {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tokens {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.spirit-image img {
  /* Add this line to ensure the image scales correctly */
  max-width: 100%;
  height: auto;
}






