.powers-container {
    display: flex;
    flex-direction: column; /* Change to row layout */
    padding: 5px; /* Add padding for spacing */
    width: 250px;
  }
  .power-bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* Align the items at the bottom of the container */
    justify-content: flex-end; /* Align the items to the right */
  }

  .powers-hint {
    font-size: 14px;
    flex-wrap: wrap; /* Allow header content to wrap on smaller screens */
    color: white;
    text-align: center;
    white-space: normal;
  }
  
  .power-bar-container {
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center; /* Align items at the center horizontally */
    margin-left: 5px; /* Add margin between bars */
    height: 100%; /* Set the height of the container to 100% */
    padding-left: 5px;
  }
  
  .power-bar-label {
    font-size: 12px; /* Adjust font size */
    margin-top: 5px; /* Add space below the label */
    color: white;
    font-weight: bold; /* Add font weight for boldness */
    z-index: 10;
  }
  .power-bar-overlay {
    display: flex;
    align-self: center;
    top: 40px;
    font-size: 20px;
    opacity: 50%;
  }
  
  .power-bar {
    width: 35px; /* Fixed width for bars */
    background-color: teal; /* Default bar color */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid white;
  }
  
  .power-bar.offense {
    background-color: teal;
  }
  
  .power-bar.control {
    background-color: green;
  }
  
  .power-bar.fear {
    background-color: purple;
  }
  
  .power-bar.defense {
    background-color: orange;
  }
  
  .power-bar.utility {
    background-color: #241402;
  }
  
  .power-bar.negative {
    height: 15px; /* Set a small height */
    position: absolute; /* Position it absolutely */
    z-index: 9;
  }